**lesson 17**

In [24]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('chinook.db')

In [17]:
import sqlite3
with sqlite3.connect('chinook (3).db') as con:
    customer =pd.read_sql('select * from customers', con=con)
    print(customer)

    CustomerId  FirstName      LastName  \
0            1       Luís     Gonçalves
1            2     Leonie        Köhler
2            3   François      Tremblay
3            4      Bjørn        Hansen
4            5  František   Wichterlová
5            6     Helena          Holý
6            7     Astrid        Gruber
7            8       Daan       Peeters
8            9       Kara       Nielsen
9           10    Eduardo       Martins
10          11  Alexandre         Rocha
11          12    Roberto       Almeida
12          13   Fernanda         Ramos
13          14       Mark       Philips
14          15   Jennifer      Peterson
15          16      Frank        Harris
16          17       Jack         Smith
17          18   Michelle        Brooks
18          19        Tim         Goyer
19          20        Dan        Miller
20          21      Kathy         Chase
21          22    Heather       Leacock
22          23       John        Gordon
23          24      Frank       Ralston
24          25     Victor       Stevens
25          26    Richard    Cunningham
26          27    Patrick          Gray
27          28      Julia       Barnett
28          29     Robert         Brown
29          30     Edward       Francis
30          31     Martha          Silk
31          32      Aaron      Mitchell
32          33      Ellie      Sullivan
33          34       João     Fernandes
34          35   Madalena       Sampaio
35          36     Hannah     Schneider
36          37       Fynn    Zimmermann
37          38     Niklas      Schröder
38          39    Camille       Bernard
39          40  Dominique      Lefebvre
40          41       Marc        Dubois
41          42      Wyatt        Girard
42          43   Isabelle       Mercier
43          44      Terhi    Hämäläinen
44          45   Ladislav        Kovács
45          46       Hugh      O'Reilly
46          47      Lucas       Mancini
47          48   Johannes  Van der Berg
48          49  Stanisław        Wójcik
49          50    Enrique         Muñoz
50          51     Joakim     Johansson
51          52       Emma         Jones
52          53       Phil        Hughes
53          54      Steve        Murray
54          55       Mark        Taylor
55          56      Diego     Gutiérrez
56          57       Luis         Rojas
57          58      Manoj        Pareek
58          59       Puja    Srivastava

                                             Company  \
0   Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                               None
2                                               None
3                                               None
4                                   JetBrains s.r.o.
5                                               None
6                                               None
7                                               None
8                                               None
9                                   Woodstock Discos
10                              Banco do Brasil S.A.
11                                            Riotur
12                                              None
13                                             Telus
14                                     Rogers Canada
15                                       Google Inc.
16                             Microsoft Corporation
17                                              None
18                                        Apple Inc.
19                                              None
20                                              None
21                                              None
22                                              None
23                                              None
24                                              None
25                                              None
26                                              None
27                                              None
28                                              None
29                                              None
30                                              None
31                                              None
32                                              None
33                                              None
34                                              None
35                                              None
36                                              None
37                                              None
38                                              None
39                                              None
40                                              None
41                                              None
42                                              None
43                                              None
44                                              None
45                                              None
46                                              None
47                                              None
48                                              None
49                                              None
50                                              None
51                                              None
52                                              None
53                                              None
54                                              None
55                                              None
56                                              None
57                                              None
58                                              None

                                     Address                 City   State  \
0            Av. Brigadeiro Faria Lima, 2170  São José dos Campos      SP
1                    Theodor-Heuss-Straße 34            Stuttgart    None
2                          1498 rue Bélanger             Montréal      QC
3                           Ullevålsveien 14                 Oslo    None
4                              Klanova 9/506               Prague    None
5                              Rilská 3174/6               Prague    None
6       Rotenturmstraße 4, 1010 Innere Stadt               Vienne    None
7                            Grétrystraat 63             Brussels    None
8                        Sønder Boulevard 51           Copenhagen    None
9                  Rua Dr. Falcão Filho, 155            São Paulo      SP
10                        Av. Paulista, 2022            São Paulo      SP
11                          Praça Pio X, 119       Rio de Janeiro      RJ
12                              Qe 7 Bloco G             Brasília      DF
13                            8210 111 ST NW             Edmonton      AB
14                       700 W Pender Street            Vancouver      BC
15                 1600 Amphitheatre Parkway        Mountain View      CA
16                           1 Microsoft Way              Redmond      WA
17                              627 Broadway             New York      NY
18                           1 Infinite Loop            Cupertino      CA
19                      541 Del Medio Avenue        Mountain View      CA
20                          801 W 4th Street                 Reno      NV
21                          120 S Orange Ave              Orlando      FL
22                           69 Salem Street               Boston      MA
23                     162 E Superior Street              Chicago      IL
24                     319 N. Frances Street              Madison      WI
25                       2211 W Berry Street           Fort Worth      TX
26                           1033 N Park Ave               Tucson      AZ
27                               302 S 700 E       Salt Lake City      UT
28                    796 Dundas Street West              Toronto      ON
29                          230 Elgin Street               Ottawa      ON
30                     194A Chain Lake Drive              Halifax      NS
31                        696 Osborne Street             Winnipeg      MB
32                            5112 48 Street          Yellowknife      NT
33                        Rua da Assunção 53               Lisbon    None
34  Rua dos Campeões Europeus de Viena, 4350                Porto    None
35                        Tauentzienstraße 8               Berlin    None
36                          Berger Straße 10            Frankfurt    None
37                       Barbarossastraße 19               Berlin    None
38                             4, Rue Milton                Paris    None
39                            8, Rue Hanovre                Paris    None
40                       11, Place Bellecour                 Lyon    None
41                    9, Place Louis Barthou             Bordeaux    None
42                          68, Rue Jouvence                Dijon    None
43                           Porthaninkatu 9             Helsinki    None
44                         Erzsébet krt. 58.             Budapest    None
45                          3 Chatham Street               Dublin  Dublin
46                    Via Degli Scipioni, 43                 Rome      RM
47                     Lijnbaansgracht 120bg            Amsterdam      VV
48                              Ordynacka 10               Warsaw    None
49                        C/ San Bernardo 85               Madrid    None
50                               Celsiusg. 9            Stockholm    None
51                         202 Hoxton Street               London    None
52                              113 Lupus St               London    None
53                            110 Raeburn Pl           Edinburgh     None
54                         421 Bourke Street               Sidney     NSW
55                        307 Macacha Güemes         Buenos Aires    None
56                           Calle Lira, 198             Santiago    None
57                       12,Community Centre                Delhi    None
58                         3,Raj Bhavan Road            Bangalore    None

           Country  PostalCode                Phone                 Fax  \
0           Brazil   12227-000   +55 (12) 3923-5555  +55 (12) 3923-5566
1          Germany       70174     +49 0711 2842222                None
2           Canada     H2G 1A7    +1 (514) 721-4711                None
3           Norway        0171      +47 22 44 22 22                None
4   Czech Republic       14700     +420 2 4172 5555    +420 2 4172 5555
5   Czech Republic       14300     +420 2 4177 0449                None
6          Austria        1010       +43 01 5134505                None
7          Belgium        1000     +32 02 219 03 03                None
8          Denmark        1720       +453 3331 9991                None
9           Brazil   01007-010   +55 (11) 3033-5446  +55 (11) 3033-4564
10          Brazil   01310-200   +55 (11) 3055-3278  +55 (11) 3055-8131
11          Brazil   20040-020   +55 (21) 2271-7000  +55 (21) 2271-7070
12          Brazil   71020-677   +55 (61) 3363-5547  +55 (61) 3363-7855
13          Canada     T6G 2C7    +1 (780) 434-4554   +1 (780) 434-5565
14          Canada     V6C 1G8    +1 (604) 688-2255   +1 (604) 688-8756
15             USA  94043-1351    +1 (650) 253-0000   +1 (650) 253-0000
16             USA  98052-8300    +1 (425) 882-8080   +1 (425) 882-8081
17             USA  10012-2612    +1 (212) 221-3546   +1 (212) 221-4679
18             USA       95014    +1 (408) 996-1010   +1 (408) 996-1011
19             USA   94040-111    +1 (650) 644-3358                None
20             USA       89503    +1 (775) 223-7665                None
21             USA       32801    +1 (407) 999-7788                None
22             USA        2113    +1 (617) 522-1333                None
23             USA       60611    +1 (312) 332-3232                None
24             USA       53703    +1 (608) 257-0597                None
25             USA       76110    +1 (817) 924-7272                None
26             USA       85719    +1 (520) 622-4200                None
27             USA       84102    +1 (801) 531-7272                None
28          Canada     M6J 1V1    +1 (416) 363-8888                None
29          Canada     K2P 1L7    +1 (613) 234-3322                None
30          Canada     B3S 1C5    +1 (902) 450-0450                None
31          Canada     R3L 2B9    +1 (204) 452-6452                None
32          Canada     X1A 1N6    +1 (867) 920-2233                None
33        Portugal        None   +351 (213) 466-111                None
34        Portugal        None   +351 (225) 022-448                None
35         Germany       10789     +49 030 26550280                None
36         Germany       60316     +49 069 40598889                None
37         Germany       10779      +49 030 2141444                None
38          France       75009   +33 01 49 70 65 65                None
39          France       75002   +33 01 47 42 71 71                None
40          France       69002   +33 04 78 30 30 30                None
41          France       33000   +33 05 56 96 96 96                None
42          France       21000   +33 03 80 73 66 99                None
43         Finland       00530     +358 09 870 2000                None
44         Hungary      H-1073                 None                None
45         Ireland        None      +353 01 6792424                None
46           Italy       00192      +39 06 39733434                None
47     Netherlands        1016      +31 020 6223130                None
48          Poland      00-358     +48 22 828 37 39                None
49           Spain       28015      +34 914 454 454                None
50          Sweden       11230     +46 08-651 52 52                None
51  United Kingdom      N1 5LH    +44 020 7707 0707                None
52  United Kingdom    SW1V 3EN    +44 020 7976 5722                None
53  United Kingdom     EH4 1HH    +44 0131 315 3300                None
54       Australia        2010   +61 (02) 9332 3633                None
55       Argentina        1106  +54 (0)11 4311 4333                None
56           Chile        None    +56 (0)2 635 4444                None
57           India      110017    +91 0124 39883988                None
58           India      560001     +91 080 22289999                None

                            Email  SupportRepId
0            luisg@embraer.com.br             3
1           leonekohler@surfeu.de             5
2             ftremblay@gmail.com             3
3           bjorn.hansen@yahoo.no             4
4        frantisekw@jetbrains.com             4
5                 hholy@gmail.com             5
6          astrid.gruber@apple.at             5
7           daan_peeters@apple.be             4
8           kara.nielsen@jubii.dk             4
9        eduardo@woodstock.com.br             4
10               alero@uol.com.br             5
11  roberto.almeida@riotur.gov.br             3
12       fernadaramos4@uol.com.br             4
13             mphilips12@shaw.ca             5
14            jenniferp@rogers.ca             3
15             fharris@google.com             4
16        jacksmith@microsoft.com             5
17              michelleb@aol.com             3
18               tgoyer@apple.com             3
19            dmiller@comcast.com             4
20            kachase@hotmail.com             5
21             hleacock@gmail.com             4
22         johngordon22@yahoo.com             4
23             fralston@gmail.com             3
24             vstevens@yahoo.com             5
25       ricunningham@hotmail.com             4
26           patrick.gray@aol.com             4
27            jubarnett@gmail.com             5
28               robbrown@shaw.ca             3
29            edfrancis@yachoo.ca             3
30           marthasilk@gmail.com             5
31         aaronmitchell@yahoo.ca             4
32         ellie.sullivan@shaw.ca             3
33            jfernandes@yahoo.pt             4
34              masampaio@sapo.pt             4
35      hannah.schneider@yahoo.de             5
36           fzimmermann@yahoo.de             3
37            nschroder@surfeu.de             3
38       camille.bernard@yahoo.fr             4
39    dominiquelefebvre@gmail.com             4
40        marc.dubois@hotmail.com             5
41          wyatt.girard@yahoo.fr             3
42      isabelle_mercier@apple.fr             3
43      terhi.hamalainen@apple.fi             3
44       ladislav_kovacs@apple.hu             3
45           hughoreilly@apple.ie             3
46         lucas.mancini@yahoo.it             5
47        johavanderberg@yahoo.nl             5
48         stanisław.wójcik@wp.pl             4
49         enrique_munoz@yahoo.es             5
50      joakim.johansson@yahoo.se             5
51         emma_jones@hotmail.com             3
52          phil.hughes@gmail.com             3
53          steve.murray@yahoo.uk             5
54           mark.taylor@yahoo.au             4
55       diego.gutierrez@yahoo.ar             4
56             luisrojas@yahoo.cl             5
57        manoj.pareek@rediff.com             3
58       puja_srivastava@yahoo.in             3

In [18]:
import sqlite3
with sqlite3.connect('chinook (3).db') as con:
    invoice =pd.read_sql('select * from invoices', con=con)
    print(invoice)

     InvoiceId  CustomerId          InvoiceDate  \
0            1           2  2009-01-01 00:00:00
1            2           4  2009-01-02 00:00:00
2            3           8  2009-01-03 00:00:00
3            4          14  2009-01-06 00:00:00
4            5          23  2009-01-11 00:00:00
..         ...         ...                  ...
407        408          25  2013-12-05 00:00:00
408        409          29  2013-12-06 00:00:00
409        410          35  2013-12-09 00:00:00
410        411          44  2013-12-14 00:00:00
411        412          58  2013-12-22 00:00:00

                               BillingAddress BillingCity BillingState  \
0                     Theodor-Heuss-Straße 34   Stuttgart         None
1                            Ullevålsveien 14        Oslo         None
2                             Grétrystraat 63    Brussels         None
3                              8210 111 ST NW    Edmonton           AB
4                             69 Salem Street      Boston           MA
..                                        ...         ...          ...
407                     319 N. Frances Street     Madison           WI
408                    796 Dundas Street West     Toronto           ON
409  Rua dos Campeões Europeus de Viena, 4350       Porto         None
410                           Porthaninkatu 9    Helsinki         None
411                       12,Community Centre       Delhi         None

    BillingCountry BillingPostalCode  Total
0          Germany             70174   1.98
1           Norway              0171   3.96
2          Belgium              1000   5.94
3           Canada           T6G 2C7   8.91
4              USA              2113  13.86
..             ...               ...    ...
407            USA             53703   3.96
408         Canada           M6J 1V1   5.94
409       Portugal              None   8.91
410        Finland             00530  13.86
411          India            110017   1.99

[412 rows x 9 columns]

In [21]:
result = pd.merge(customer, invoice, on='CustomerId', how='inner')
result

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,...,Email,SupportRepId,InvoiceId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,...,luisg@embraer.com.br,3,98,2010-03-11 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.98
1,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,...,luisg@embraer.com.br,3,121,2010-06-13 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,3.96
2,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,...,luisg@embraer.com.br,3,143,2010-09-15 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,5.94
3,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,...,luisg@embraer.com.br,3,195,2011-05-06 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,0.99
4,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,...,luisg@embraer.com.br,3,316,2012-10-27 00:00:00,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,1.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,...,puja_srivastava@yahoo.in,3,45,2009-07-08 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,5.94
408,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,...,puja_srivastava@yahoo.in,3,97,2010-02-26 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,1.99
409,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,...,puja_srivastava@yahoo.in,3,218,2011-08-20 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,1.98
410,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,...,puja_srivastava@yahoo.in,3,229,2011-09-30 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,13.86
411,59,Puja,Srivastava,None,"3,Raj Bhavan Road",Bangalore,None,India,560001,+91 080 22289999,...,puja_srivastava@yahoo.in,3,284,2012-05-30 00:00:00,"3,Raj Bhavan Road",Bangalore,None,India,560001,8.91

In [23]:

print(f"Joined DataFrame shape: {result.shape}")


print("\nColumn names:")
print(result.columns.tolist())

print("\nBasic statistics:")
print(result.describe())

Joined DataFrame shape: (412, 21)

Column names:
['CustomerId', 'FirstName', 'LastName', 'Company', 'Address', 'City', 'State', 'Country', 'PostalCode', 'Phone', 'Fax', 'Email', 'SupportRepId', 'InvoiceId', 'InvoiceDate', 'BillingAddress', 'BillingCity', 'BillingState', 'BillingCountry', 'BillingPostalCode', 'Total']

Basic statistics:
       CustomerId  SupportRepId   InvoiceId       Total
count  412.000000    412.000000  412.000000  412.000000
mean    29.929612      3.951456  206.500000    5.651942
std     17.010585      0.812058  119.078406    4.745320
min      1.000000      3.000000    1.000000    0.990000
25%     15.000000      3.000000  103.750000    1.980000
50%     30.000000      4.000000  206.500000    3.960000
75%     45.000000      5.000000  309.250000    8.910000
max     59.000000      5.000000  412.000000   25.860000

In [ ]:
import pandas as pd
movies = pd.read_csv('movie (1).csv')
movies.head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000

In [38]:
df1 = movies[['director_name', 'color']].copy()
df2 = movies[['director_name', 'num_critic_for_reviews']]
df1
# print("second one")
# df2.head()

          director_name  color
0         James Cameron  Color
1        Gore Verbinski  Color
2            Sam Mendes  Color
3     Christopher Nolan  Color
4           Doug Walker    NaN
...                 ...    ...
4911        Scott Smith  Color
4912                NaN  Color
4913   Benjamin Roberds  Color
4914        Daniel Hsia  Color
4915           Jon Gunn  Color

[4916 rows x 2 columns]

In [36]:
df2 = movies[['director_name', 'num_critic_for_reviews']]
df2

          director_name  num_critic_for_reviews
0         James Cameron                   723.0
1        Gore Verbinski                   302.0
2            Sam Mendes                   602.0
3     Christopher Nolan                   813.0
4           Doug Walker                     NaN
...                 ...                     ...
4911        Scott Smith                     1.0
4912                NaN                    43.0
4913   Benjamin Roberds                    13.0
4914        Daniel Hsia                    14.0
4915           Jon Gunn                    43.0

[4916 rows x 2 columns]

In [ ]:
result1= pd.merge(df1, df2, how='left', on='director_name')
print(result1)

          director_name  color  num_critic_for_reviews
0         James Cameron  Color                   723.0
1         James Cameron  Color                   315.0
2         James Cameron  Color                   210.0
3         James Cameron  Color                    94.0
4         James Cameron  Color                    82.0
...                 ...    ...                     ...
30295  Benjamin Roberds  Color                    13.0
30296       Daniel Hsia  Color                    14.0
30297          Jon Gunn  Color                    11.0
30298          Jon Gunn  Color                    15.0
30299          Jon Gunn  Color                    43.0

[30300 rows x 3 columns]

In [50]:
print( f"data shape: {result1.shape}")
# print(f"Joined DataFrame shape: {result1.shape}")


print("\nColumn names:")
print(result1.columns.tolist())

print("\nBasic statistics:")
print(result1.describe())

data shape: (30300, 3)

Column names:
['director_name', 'color', 'num_critic_for_reviews']

Basic statistics:
       num_critic_for_reviews
count            29741.000000
mean               121.466158
std                125.788709
min                  1.000000
25%                 22.000000
50%                 81.000000
75%                177.000000
max                813.000000

In [46]:
print(f"Joined DataFrame shape: {result1.shape}")


print("\nColumn names:")
print(result1.columns.tolist())

print("\nBasic statistics:")
print(result1.describe())

Joined DataFrame shape: (30300, 3)

Column names:
['director_name', 'color', 'num_critic_for_reviews']

Basic statistics:
       num_critic_for_reviews
count            29741.000000
mean               121.466158
std                125.788709
min                  1.000000
25%                 22.000000
50%                 81.000000
75%                177.000000
max                813.000000